.ToolBarContainer {
    background-color: #e0e5b6;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.NavContainer{
}

.NavItem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    color: #333333;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

/* .NavItem:hover {

} */