.ToolBarContainer {
    background-color: #e0e5b6;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.NavContainer{
    /* position: relative; */
    /* display: flex; */
    /* margin: auto; */

}

.LogoContainer {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #333333;
    
}

.Logo {
    width: 2.5rem;
    height: 2.5rem;
}

.NavItem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    color: #333333;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.SignIn{
    padding-right: 1rem;
    margin-left: 4rem;
}

.NavItem:hover {
    color: #8aa848;
    border: 2px solid #8aa848;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}